@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-text: #ababab;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  /* font-weight: 400; */
  /* font-weight: 500; */
  /* font-weight: 700; */
  color: #fff;
  /* background: linear-gradient(0deg, #2b2b2b, #2b2b2b),
    radial-gradient(
      90.9% 71.56% at 88.4% 9%,
      rgba(71, 71, 71, 0.55) 0%,
      rgba(37, 37, 37, 0.55) 100%
    ); */
}

header {
  background-color: #2b2b2b;
}

footer {
  background-color: #191919;
}

main {
  background: radial-gradient(
      90.9% 71.56% at 88.4% 9%,
      rgba(71, 71, 71, 0.55) 0%,
      rgba(37, 37, 37, 0.55) 100%
    ),
    linear-gradient(0deg, #2b2b2b, #2b2b2b);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 88px;
  align-items: center;
}

.header__logo-body {
}

.header__logo {
  display: inline-block;
  width: 210px;
  height: 47px;
  background: url("../img/logo-img.png") no-repeat center center / cover;
}

.header__nav {
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav__item {
  font-weight: 400;
  font-size: 16px;
}

.nav__link {
  color: var(--color-text);
  text-decoration: none;
}

.header__lk {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.header__lk-user {
  margin: 0;
}

.lk-img {
  width: 36px;
  height: 36px;
}

.news {
  padding-top: 82px;
  margin-bottom: 82px;
}

.news__container {
  padding: 0 88px;
}

.news__wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.news__title {
  margin: 0;
}

.title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
}

.news__link {
}

.wrapp-link {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-text);
}

.news__list-cards {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.news__card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.news__card-item:nth-child(1) {
  height: 335px;
  flex: 2;
  justify-content: flex-end;
  padding: 16px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.45) 59.88%
    ),
    url("../img/poster-img-1.png") no-repeat center center / cover;
}

.news__card-item:nth-child(2)::before {
  background: url("../img/poster-img-2.png") no-repeat center center / cover;
}

.news__card-item:nth-child(3)::before {
  background: url("../img/poster-img-3.png") no-repeat center center / cover;
}

.news__card-item:nth-child(n + 2) {
  flex: 1;
}

.news__card-item:nth-child(n + 2):before {
  content: "";
  margin-bottom: 12px;
  width: 100%;
  height: 170px;
  border-radius: 8px;
}

.news__span-teg {
}

.span-teg {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #d8481a;
}

.news__subtitle {
  max-width: 300px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  margin: 0;
  margin-bottom: 12px;
  max-width: 300px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}

.news__card-item:nth-child(n + 2) .subtitle {
  font-size: 18px;
  line-height: 18px;
}

.news__info-body {
}

.info-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  color: var(--color-text);
}

.news__date {
  margin: 0;
  font-size: 14px;
}

.view,
.like,
.bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  color: #e0e0e0;
}

.view::before,
.like::before,
.bookmark::before {
  content: "";
  width: 20px;
  height: 20px;
}

.news__card-item:nth-child(1) .view::before {
  background: url("../img/view-icon.svg") no-repeat center center / contain;
}
.news__card-item:nth-child(1) .like::before {
  background: url("../img/view-icon.svg") no-repeat center center / contain;
}
.news__card-item:nth-child(1) .bookmark::before {
  background: url("../img/view-icon.svg") no-repeat center center / contain;
}

.view::before {
  background: url("../img/view-dark-icon.svg") no-repeat center center / contain;
}

.like::before {
  background: url("../img/liked-dark-icon.svg") no-repeat center center /
    contain;
}

.bookmark::before {
  background: url("../img/bookmarks-dark-icon.svg") no-repeat center center /
    contain;
}

.residents {
  margin-bottom: 82px;
}

.residents__container {
  border-radius: 8px;
  padding: 64px 88px;
  background-color: #1f1f1f;
}

.residents__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.residents__title {
  font-size: 32px;
}

.residents__link {
}

.residents__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 48px;
  list-style: none;
}

.residents__item {
  width: 220px;
}

.residents__img {
  font-size: 0;
  border-radius: 9px;
}

.img-wrapp {
  position: relative;
  width: min-content;
  margin-bottom: 12px;
  font-size: 0;
}

.img-wrapp::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: -2px;
  bottom: -2px;
  border-radius: 4px;
  outline: 4px solid #1f1f1f;
  background-color: #2fbc0c;
}

.residents__subtitle {
  width: min-content;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  white-space: normal;
}

.desc {
  width: min-content;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 19px;
  color: #ababab;
}

.info {
  font-size: 14px;
  line-height: 19px;
}

.article {
  margin-bottom: 82px;
}

.article__container {
  padding: 0 88px;
}

.article__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article__title {
}

.article__link {
}

.article__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.article__card-item {
  position: relative;
  width: 100%;
}

.article__card-item::before {
  display: flex;
  content: "";
  margin-bottom: 12px;
  width: 100%;
  height: 210px;
  border-radius: 8px;
}

.article__card-item:nth-child(1):before {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.56) 100%
    ),
    url("../img/poster-img-4.png") no-repeat center center / cover;
}

.article__card-item:nth-child(2):before {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.56) 100%
    ),
    url("../img/poster-img-5.png") no-repeat center center / cover;
}

.article__card-item:nth-child(3):before {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.56) 100%
    ),
    url("../img/poster-img-6.png") no-repeat center center / cover;
}

.article__span-teg {
}

.article__body {
}

.article__subtitle {
}

.article__name {
  position: relative;
  display: flex;
  gap: 4px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 19px;
  color: #ababab;
}

.article__name::before {
  content: "";
  display: inline;
  position: relative;
  width: 20px;
  height: 20px;
  background: url("../img/user-icon.svg") no-repeat center center / cover;
}

.article__info-body {
}

.article__date {
  margin: 0;
}

.event {
  border-radius: 8px;
  padding: 64px 88px;
  background-color: #fff;
}

.event__container {
}

.event__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.event__title {
  color: #2b2b2b;
  margin: 0;
}

.event__link {
}

.event__body {
}

.event__main-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 24px;
  border-radius: 8px;
  background: url("../img/poster-img-7.png") no-repeat center center / cover;
}

.event__main-card > * {
  border: 1px solid red;
}

.left {
}

.event__info {
}

.event__date {
}

.event__name {
}

.event__slogan {
}

.event__btn {
}

.event__list {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
  gap: 4px;
}

.right {
}

.event__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 12px;
  justify-content: center;
}

.event__item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 2px;
  right: 2px;
  border-radius: 20%;
  background-color: #2fbc0c;
}

.event__item:nth-child(1) {
  background: url("../img/user-icon-1.png") no-repeat center center / cover;
}
.event__item:nth-child(2) {
  background: url("../img/user-icon-2.png") no-repeat center center / cover;
}
.event__item:nth-child(3) {
  background: url("../img/user-icon-3.png") no-repeat center center / cover;
}
.event__item:nth-child(4) {
  border-radius: 8px;
  outline: 1px solid #ababab;
}

.event__card {
}

.event__card-body {
}

.event__heading {
}

.video {
}

.video__container {
}

.video__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.video__title {
}

.title {
}

.video__link {
}

.link {
}

.video__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.video__card-item {
  position: relative;
}

.video__span-teg {
}

.video__body {
}

.video__subtitle {
}

.video__name {
}

.video__info-body {
}

.video__date {
}

.footer__container {
}

.footer__link {
}

.rigth {
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
}
